.btn-navy:hover,.btnLogin:hover{
    background-color: white;
    border-color: #1473d3;
}
.loginSection{
    /* padding: 1rem ; */
    background-color:#f7f8fe;
}
.loginSection h1{
    padding-top: 2.5rem;
    padding-bottom: 0.4rem;
    font-weight: 900;
}
.btnGoogle{
    border: solid 1px #ede8e9;
    color: #18191a;
}
.loginSection .card{
    border-radius: 18px;
    border: solid 1px #f2f2f2;
}
.newCheckbox .custom-control-input {
    border: 1px solid transparent;
    text-align: right;
}

.newCheckbox .custom-control-input input {
    float: right;
}
.input-group-text,.newInputGroup input{
    border-radius: 0;
}
@media screen and (min-width:700px){
    .loginSection{
        padding-right: 1.7%;
    }
    .bottomFooter{
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
    .bgWhite{
        background-color: white;
    }
    .imgLogin{
        padding-top: 6%;
    }
    .imgRegister{
        padding-top: 12%;
    }
}
@media screen and (max-width:500px){
    .loginSection{
        background-color: white;
        margin-left: 2rem;
    }
}